#Myvideo{
    width: 100%;
}
.centered-heading{
    position: absolute;
    weight : bold;
    top: 25%;
    left : 25%;
    color: white;
    font-size: 4em;

}
.centered{
    position: absolute;
    top: 45%;
    left :20%;
    color:white;
    font-size: 2em;
}
#continue{
    position: absolute;
    top: 60%;
    left : 30%;
}